[tool.poetry]
name = "mousebender"
version = "0.1.0.post1"
description = "A package for installing fully-specified Python packages."
authors = ["Brett Cannon <brett@snarky.ca>"]
maintainers = ["Derek Keeler <derek@suchcool.ca>"]
homepage = "https://github.com/brettcannon/mousebender"
repository = "https://github.com/brettcannon/mousebender"
documentation = "https://github.com/brettcannon/mousebender/blob/master/README.md"
license = "BSD-3-Clause"
readme = "README.md"
classifiers = ["Topic :: Software Development :: Libraries :: Python Modules"]
packages = [
    { include = "mousebender" },
]

[tool.poetry.dependencies]
python = ">=3.8,<4"
packaging = "^20.3"
coverage = {extras = ["toml"], version = "^5.0.4"}

[tool.poetry.dev-dependencies]
mypy = "^0.770"
black = "^19.10b0"
pytest = "^5.4.1"
pytest-cov = "^2.8.1"
docopt = "^0.6.2"

[tool.poetry.urls]
"issues" = "https://github.com/brettcannon/mousebender/issues"
[tool.coverage.run]
source = ["mousebender/"]
branch = true

[tool.coverage.report]
fail_under = 100
[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

