[tool.poetry]
name = "mousebender"
version = "2.0.0"
description = "A package for implementing various Python packaging standards"
authors = ["Brett Cannon <brett@snarky.ca>"]
maintainers = ["Derek Keeler <derek@suchcool.ca>"]
homepage = "https://github.com/brettcannon/mousebender"
repository = "https://github.com/brettcannon/mousebender"
documentation = "https://github.com/brettcannon/mousebender/blob/master/README.rst"
license = "BSD-3-Clause"
readme = "README.rst"
classifiers = ["Topic :: Software Development :: Libraries :: Python Modules"]

[tool.poetry.dependencies]
# The `<4` restriction is because of coverage.py.
python = ">=3.6,<4"
packaging = "^20.3"
attrs = "^19.3.0"

[tool.poetry.dev-dependencies]
mypy = "^0.770"
coverage = {extras = ["toml"], version = "^5.0.4"}
pytest = "^5.4.1"
pytest-cov = "^2.8.1"
docopt = "^0.6.2"
black = "^19.10b0"
twine = "^3.1.1"
importlib-resources = "^1.5.0"
flake8 = "^3.8.1"

[tool.poetry.urls]
"issues" = "https://github.com/brettcannon/mousebender/issues"

[tool.coverage.run]
source = ["mousebender/"]
branch = true

[tool.coverage.report]
fail_under = 100

[build-system]
requires = ["poetry>=1.0.5"]
build-backend = "poetry.masonry.api"

